# make output files
test-leptunit
cov-test-leptunit
build/*
leptunit.info
leptunit-test-report/*

# valgrind's coredump files
vgcore*

# vim's swap files
*.sw[op]

# dependence and object files of gcc
*.[do]

# Linux and windows library files
*.a
*.so
*.la.*
*.so.*

# coverage files of gcov
*.gcno
*.gcda
*.gcov
